[submodule "shared-functions-library"]
	path = shared-functions-library
	url = https://github.com/adebayo10k/shared-functions-library
[submodule "gpg-encryption-using-json-profiles"]
	path = gpg-encryption-using-json-profiles
	url = https://github.com/adebayo10k/gpg-encryption-using-json-profiles
